.container {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: flex;
}

.column-full {
  flex-basis: 100%;
}

.column-third {
  width: calc(100% / 3);
}

.column-fourth {
  width: calc(100% / 4);
}

.column-two-thirds {
  width: calc(200% / 3);
}

.character {
  width: 100%;
}
